* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: teal;
    --secondary-color: #ff8c00;
  }

/* header attributes */

header {
    padding: 40px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: var(--primary-color);
}

header h1, h2 {
    font-size: 36px;
    text-shadow: 0 0 15px rgba(0 ,0 ,0 , 0.5);
}

header a {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 20px;
    font-size: 35px;
}


header nav ul li a:hover {
    background: orange; 
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.hero {
    background-image: url(./images/IMG_0227-new.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: center;
    height: 700px;
}

/*sections begin here */

section, footer {
    border-top: 5px solid white;
}

.section-title {
    font-size: 48px;
    color: white;
    margin: 0 auto 35px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Introduction */

.intro {
    padding: 30px;
    background-color: var(--secondary-color);
}

.intro-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.intro-photo {
    zoom: 15%;
    border: 3px solid black;
  
}

.intro-statement {
    color: white;
    font-size: 22px;
    padding: 60px;
    margin: 0 25px;
    line-height: 1.5;
    flex: 1;
    text-align: center;
}

/* Projects section */

.projects {
    padding: 30px;
    background-color: var(--primary-color);
}

.projects-list {
    margin: 25px 40px;
    display: flex;
    flex-wrap: wrap;
}

.projects-big {
    background: #024e76;
    flex: 1; 
}

.projects-big img {
    width: 100%;
}

.projects-big img:hover , .projects-small img:hover{
    border: 10px solid orange;
}

.project-name {
    padding: 25px;
    line-height: 1.5;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Contact section */

.contact {
    background-color: var(--secondary-color);
    padding: 25px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    text-align: center
}


.contact-info h3 {
    font-size: 30px;
    color: white;
}    


.contact-info p {
    color: white;
    margin: 20px 0;
    line-height: 1.5;
    font-size: 22px;
    font-style: normal;
} 


.contact-info a {
    color: blue;
}

.contact-photo {
    zoom: 15%;
    border: 3px solid black;
    flex: 0.25 15%;
    align-items: center;
}

footer {
    background-color: var(--primary-color);
    width: 100%; 
    font-family: Arial, Helvetica, sans-serif; 
}

.footer-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
}

footer h5 {
    color: white;
    font-size: 20px;
}



@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 25px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 25px;
    }

    .intro-content{
        flex-direction: column;
    }

    .projects-big {
        width: 100%; 
    }


    footer div {
        text-align: center;
        width: 100%;
    }

    footer {
        justify-content: center;
        line-height: 1.5;
    }

}

/* Smartphone and tablet screens */

@media screen and (max-width: 768px) {
   
    
    .intro-photo {
        zoom: 10%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 575px) {
    .projects-list {
      flex: 100%;
    }

    header nav ul li {
        margin: 5px 15px;
    }

  }